<header>
    <h1>C# code samples for using Nexmo</h1>
    <h3>Everything you need to build connected applications with Nexmo</h3>
</header>

<div class="grid">
    <div class="item blog">
        <div class="content" value="Redirect" onclick="window.location='@Url.Action("Index", "SMS")'">
            <div class="title">
                <h3>SMS</h3>
            </div>
            <div class="desc">
                <p>Learn how to send and receive text messages with the Nexmo SMS API.</p>
            </div>
        </div>
    </div>
    <div class="item photo">
        <div class="content" value="Redirect" onclick="window.location='@Url.Action("Index", "Voice")'">
            <div class="title">
                <h3>Voice</h3>
            </div>
            <img class="photothumb" src="images/voice.png">
            <div class="desc">
                <p>The Nexmo Voice API is the easiest way to build high-quality voice applications in the Cloud.</p>
            </div>
        </div>
    </div>
    <div class="item project">
        <div class="content" value="Redirect" onclick="window.location='@Url.Action("Index", "Account")'">
            <div class="title">
                <h3>Account</h3>
            </div>
            <div class="desc">
                <img src="images/account.png">
                <p>Within your account you can check your balance, configure the account-level settings, and rotate your API secrets for security purposes. </p>
            </div>
        </div>
    </div>
    <div class="item photo">
        <div class="content" value="Redirect" onclick="window.location='@Url.Action("Index", "Verify")'">
            <div class="title">
                <h3>Verify</h3>
            </div>
            <img class="photothumb" src="images/verify.png">
            <div class="desc">
                <p>The Verify API enables you to confirm that you can contact a user at a specific number.</p>
            </div>
        </div>
    </div>
    <div class="item project">
        <div class="content" value="Redirect" onclick="window.location='@Url.Action("Index", "Numbers")'">
            <div class="title">
                <h3>Numbers</h3>
            </div>
            <div class="desc">
                <img src="images/sm.png">
                <p>A Nexmo virtual number is a telephone number that is not directly associated with a specific phone. It is programmable, enabling you to create custom call and messaging experiences for your users.</p>
            </div>
        </div>
    </div>
    <div class="item project">
        <div class="content">
            <div class="title" value="Redirect" onclick="window.location='@Url.Action("Index", "NumberInsights")'">
                <h3>Number Insight</h3>
            </div>
            <div class="desc">
                <img src="images/Ni.png">
                <p>Nexmo's Number Insight API delivers real-time intelligence about the validity, reachability and roaming status of a phone number and tells you how to format the number correctly in your application.</p>
            </div>
        </div>
    </div>
    <div class="item blog">
        <div class="content" value="Redirect" onclick="window.location='@Url.Action("Index", "Application")'">
            <div class="title">
                <h3>Application</h3>
            </div>
            <div class="desc">
                <p>A Nexmo application contains the security and configuration information you need to connect to Nexmo endpoints and easily use our products.</p>
            </div>
        </div>
    </div>
    <div class="item blog">
        <div class="content" value="Redirect" onclick="window.location='@Url.Action("Index", "Redact")'">
            <div class="title">
                <h3>Redact</h3>
            </div>
            <div class="desc">
                <p>Allows the management of personal data on Nexmo platform.</p>
            </div>
        </div>
    </div>
    <div class="item blog">
        <div class="content" value="Redirect" onclick="window.location = '@Url.Action("Index", "WebhookSwitch")'">
            <div class="title">
                <h3>Routes</h3>
            </div>
            <div class="desc">
                <p>Allows the management of webhook routes.</p>
            </div>
        </div>
    </div>
    <div class="item blog">
        <div class="content" value="Redirect" onclick="window.location = '@Url.Action("Index", "Conversation")'">
            <div class="title">
                <h3>Conversation</h3>
            </div>
            <div class="desc">
                <p>Allows management of Conversations, Users, Members, and Events</p>
            </div>
        </div>
    </div>
</div>
