<header>
    <h1>Code samples for using Nexmo Voice API</h1>
    <h3>Learn how to to build high-quality voice applications in the Cloud</h3>
</header>

<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Make a call </span>
        </div>
        <div style="padding-top:20px">
            @using (Html.BeginForm("MakeCall", "Voice", FormMethod.Post))
            {
                <input type="text" name="to" id="to" placeholder="To" style="height:30px" />
                <input type="submit" value="Call" style="height:30px; width:50px" />
            }
            <h4>@ViewBag.callResult</h4>
        </div>
    </div>
</div>
<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Make a call with NCCO </span>
        </div>
        <div style="padding-top:20px">
            @using (Html.BeginForm("MakeCallWithNCCO", "Voice", FormMethod.Post))
            {
                <input type="text" name="to" id="to" placeholder="To" style="height:30px" />
                <input type="submit" value="Call" style="height:30px; width:50px" />
            }
            <h4>@ViewBag.nccoCallResult</h4>
        </div>
    </div>
</div>
<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Get Call Info </span>
        </div>
        <div style="padding-top:20px">
            @using (Html.BeginForm("GetCall", "Voice", FormMethod.Post))
            {
                <input type="text" name="id" id="id" placeholder="UUID" style="height:30px" />
                <input type="submit" value="Get Info" style="height:30px" />
            }
                <h4>@ViewBag.calluuid</h4>
                <h4>@ViewBag.callconversation_uuid</h4>
                <h4>@ViewBag.calltonumber</h4>
                <h4>@ViewBag.callfromnumber</h4>
                <h4>@ViewBag.callstatus</h4>
                <h4>@ViewBag.calldirection</h4>
                <h4>@ViewBag.callrate</h4>
                <h4>@ViewBag.callprice</h4>
                <h4>@ViewBag.callduration</h4>
                <h4>@ViewBag.callstart_time</h4>
                <h4>@ViewBag.callend_time</h4>
                <h4>@ViewBag.callnetwork</h4>
           
        </div>
    </div>
</div>
<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Modify a call </span>
        </div>
        <div >
            <h3> You can modify any existing call using the call uuid</h3>
            @using (Html.BeginForm("HangupCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Terminate the current call" />
            }

            @using (Html.BeginForm("MuteCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Mute the current call" />
            }

            @using (Html.BeginForm("UnmuteCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Unmute the current call" />
            }

            @using (Html.BeginForm("EarmuffCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Earmuff the current call" />
            }

            @using (Html.BeginForm("TransferCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Transfer the current call" />
            }

            @using (Html.BeginForm("PlayttsToCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Play text-to-speech to the current call" />
            }

            @using (Html.BeginForm("PlayAudioStreamToCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Play audio stream to the current call" />
            }

            @using (Html.BeginForm("PlayDTMFToCall", "Voice", FormMethod.Post))
            {
                <br />
                <input type="submit" value="Play DTMF to the current call" />
            }
        </div>
    </div>
</div>
<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Advanced </span>
        </div>
        <div style="padding-top:20px">
            <h2>Use NCCO to do multiple operations</h2>
        </div>
        <div style="height:150px; padding-top:20px">
            <h2>Inbound Call</h2>
            <h3>For more details on how to receive a phone call with Nexmo Voice API, follow <a href="https://www.nexmo.com/blog/2018/11/21/how-to-receive-a-phone-call-with-nexmo-voice-api-asp-core-core-and-nancyfx-dr">this step by step tutorial</a></h3>
        </div>
        <div style="height:150px; padding-top:20px">
            <h2>DTMF</h2>
            <h3>For more details on how to handle user input, follow <a href="https://www.nexmo.com/blog/2019/01/10/how-to-handle-user-input-with-asp-net-core-dr">this step by step tutorial</a></h3>
        </div>
        <div style="height:150px; padding-top:20px">
            <h2>Connect a call</h2>
            <h3>For more details on how to forward a call via voice proxy, follow <a href="https://www.nexmo.com/blog/2019/04/18/forward-a-call-via-voice-proxy-with-asp-net-core-dr">this step by step tutorial</a></h3>
        </div>
        <div style="height:150px; padding-top:20px">
            <h2>Build conference call</h2>
            <h3>For more details on how to build a conference call, follow <a href="https://www.nexmo.com/blog/2019/05/16/build-a-conference-call-with-nexmo-voice-api-and-csharp-dr">this step by step tutorial</a></h3>
        </div>
        <div style="height:150px; padding-top:20px">
            <h2>Build a voicemail</h2>
            <h3>For more details on how to build a voicemail, follow <a href="https://www.nexmo.com/blog/2019/07/08/how-to-build-a-voicemail-with-asp-net-core-and-nancyfx-dr">this step by step tutorial</a></h3>
        </div>
    </div>
</div>
