
<header>
    <h1>Code samples for using Nexmo Number Insights API</h1>
    <h3>Learn how to get basic, standard and advanced information about a phone number</h3>
</header>

<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Get Basic Insights</span>
        </div>
        <div style="padding:10px">
            @using (Html.BeginForm("Basic", "NumberInsights", FormMethod.Post))
            {
                <input type="text" name="number" id="number" placeholder="Phone number" style="height:30px" />
                <input type="submit" value="Get more information" style="height:30px;" />
            }
        </div>
    </div>
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Get Standard Insights</span>
        </div>
        <div style="padding:10px">
            @using (Html.BeginForm("Standard", "NumberInsights", FormMethod.Post))
            {
                <input type="text" name="number" id="number" placeholder="Phone number" style="height:30px" />
                <input type="submit" value="Get more information" style="height:30px;" />
            }
        </div>
    </div>
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Get Advanced Insights</span>
        </div>
        <div style="padding:10px">
            @using (Html.BeginForm("Advanced", "NumberInsights", FormMethod.Post))
            {
                <input type="text" name="number" id="number" placeholder="Phone number" style="height:30px" />
                <input type="submit" value="Get more information" style="height:30px;" />
            }
        </div>
    </div>
    <div class="content">
        <div name=basicResults>
            <h2>Number Insight Basic Results</h2>
            <hr style="height:2px;border:none;color:#333;background-color:black" />
            <h3>Request ID: @ViewBag.requestID</h3>
            <h3>Status: @ViewBag.status</h3>
            <h3>International Number: @ViewBag.iNumber</h3>
            <h3>National Number: @ViewBag.nNumber</h3>
            <h3>Country: @ViewBag.country</h3>
            <h3>Country Code: @ViewBag.countryCode</h3>
        </div>
        <div name=standardResults>
            <h2>Number Insight Standard Results</h2>
            <hr style="height:2px; color:black" />
            <h4>Provides all the information in basic results together with the following additional data</h4>
            <hr style="border:2px solid black" />
            <h3>Current Carrier Name: @ViewBag.currentCarrierName</h3>
            <h3>Current Carrier Code: @ViewBag.currentCarrierCode</h3>
            <h3>Current Carrier Type: @ViewBag.currentCarrierType</h3>
            <h3>Current Carrier Country: @ViewBag.currentCarrierCountry</h3>
            <hr style="border:2px solid black" />
            <h3>Original Carrier Name: @ViewBag.originalCarrierName</h3>
            <h3>Original Carrier Code: @ViewBag.originalCarrierCode</h3>
            <h3>Original Carrier Type: @ViewBag.originalCarrierType</h3>
            <h3>Original Carrier Country: @ViewBag.originalCarrierCountry</h3>
        </div>
        <div name=advancedResults>
            <h2>Number Insight Advanced Results</h2>
            <hr style="height:2px; color:black" />
            <h4>Provides all the information in standard results together with the following additional data</h4>
            <hr style="border:2px solid black" />
            <h3>Number Validity: @ViewBag.validNumber</h3>
            <h3>Number Portability: @ViewBag.ported</h3>
            <h3>Number Reachability: @ViewBag.reachable</h3>
            <h3>Roaming Information: @ViewBag.roaming</h3>
        </div>
    </div>
</div>

